* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 2;
  text-rendering: optimizeLegibility;
  text-align: center;
}

#showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 3.2vw;
  font-weight: bold;
  line-height: 1.2;
  font-family: 'Ubuntu';
  letter-spacing: 0.2em;
}

#showcase h5 {
  font-size: 2.5vw;
  letter-spacing: 0.2em;
  margin-bottom: 25%;
}

#showcase .button {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
  color: #53ecbb;
  border: #53ecbb 3px solid;
  background-color: rgba(249, 243, 244, 0.3);
  padding: 12px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  color: #fff;
  background-color: rgba(18, 29, 157, 0.88);
  border: solid #2E3FD6 3px;
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  padding-bottom: 56.25%;
}

.video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
  color: #fff;
}
